ul#nested-list{
    list-style-type:upper-roman;
color: aqua;
font-size: large;
}
ul#nested-list ul{
    list-style-type:upper-alpha;
    color: red;
    font-size: medium;
}
ul#nested-list ul ul {
    list-style-type:lower-alpha ;
    color: green;
    font-size: small;
}
ul#nested-list li{
    margin-left: 30px;
}
dt  {
        font-weight: bold;
}
dd{
    margin-left: 20px;
}